@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.div-nav {
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li:nth-child(1) {
  padding: 0px 20px 0px 0px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

.nav-github {
  margin-right: 20px;
}

button {
  padding: 9px 25px;
  background-color: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: rgba(0, 136, 169, 0.8);
}

.togithub {
  background-color: rgba(0, 136, 169, 1);
}

.togithub:hover {
  background-color: rgba(0, 136, 169, 0.8);
  color: #edf0f1;
}
.main-container {
  display: grid;
  grid:
    "header header header header" auto
    "tasks  ...... detail ......" auto /
    minmax(250px, 300px) minmax(150px, 150px) minmax(250px, 300px) 1fr;
  padding: 50px 10%;
}

.todo-list {
  grid-area: tasks;
}

.todo-header {
  padding-bottom: 1rem;
}

.list-title {
  font-size: 24px;
}

.task-count {
  font-size: 10px;
}

.task {
  padding-bottom: 1rem;
}

label {
  cursor: pointer;
}

label:hover {
  opacity: 0.7;
}

.new-task-creator {
  padding-bottom: 1.5rem;
}

form {
  display: flex;
}

.btn {
  background: 0;
  padding: 0;
}

.btn.create {
  background-color: transparent;
  margin-right: 0.25rem;
  transition: opacity 250ms ease-in;
}

.btn.create:hover {
  color: inherit;
  opacity: 0.7;
}

.new-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 0.25em;
  outline: none;
  order: 2;
}

.new-input::placeholder {
  opacity: 0.4;
}

.new-input:focus {
  border-bottom-width: 2px;
}

.new-input:focus::placeholder {
  opacity: 0.2;
}

.empty1 {
  grid-area: header;
}

.todo-details {
  grid-area: detail;
}

.empty2 {
  grid-area: header;
}

.task-details {
  padding-top: 16px;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms ease-in-out, background-color 80ms ease-out;
}

.task:hover .custom-checkbox {
  transform: scale(1.3);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: rgba(0, 136, 169, 1);
  border-color: rgba(0, 136, 169, 1);
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
  text-decoration-line: line-through;
}

.delete-stuff {
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
}

.btn.delete {
  font-size: 12px;
}

#details {
  background: transparent;
  outline: none;
  word-wrap: break-word;
}
